# Projeto 1 - Ci√™ncia dos Dados

Nome: Paulo Kim

Nome: Rodrigo Coelho

**Aten√ß√£o:** Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re
import math

**Em `filename`, coloque o nome do seu arquivo de dados!**

In [2]:
import os

filename = 'iPhone_X.xlsx'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com a prova!')
else:
    print(f'N√£o encontrei o arquivo {filename} aqui no diret√≥rio {os.getcwd()}, ser√° que voc√™ n√£o baixou o arquivo?')

Encontrei o arquivo iPhone_X.xlsx, tudo certo para prosseguir com a prova!

Carregando a base de dados de treinamento com os tweets classificados:

In [3]:
train = pd.read_excel(filename)
train = train.iloc[:,:2]
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  @iconredesign my prediction is the same but:\n...              2
1  still have mine but i never connected to my ph...              1
2  iphone 11 na waste of money, just chill with x...              2
3  once the iphone 12 drops those using the iphon...              2
4           #ncat who fix‚Äôs phone ?? it‚Äôs a iphone x              1

Carregando a base de dados de teste com os tweets classificados:

In [4]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test = test.iloc[:,:2]
test.head()

                                               Teste  Classifica√ß√£o
0  @starrynight024 right?? that‚Äôs exactly what ha...              3
1  @gossipgirliee some of us haven't bought iphone x              2
2  @manyaww @mlgcollegefess hs without cond*m and...              1
3  very annoying that they didn't announce the ne...              2
4   @clarkvolo iphone x was released in november tho              2

___
## Classificador autom√°tico de sentimento

N√≥s pegamos como produto o iPhone X. Para sua classifica√ß√£o, dividimos os tweets em:

* **Propaganda/oferta** (0) --> tweets com an√∫ncios de valor e venda de iPhones, assim como vendas de peliculas e capas espec√≠ficas para o iPhone X
* **Muito irrelevante** (1) --> tweets que mencionavam o iPhone X, mas que nada relacionado ao aparelho em si, apenas citando ele
* **Irrelevante** (2) --> tweets que al√©m de mencionar o iPhone, faziam coment√°rios relacionados ao aparelho, mas muito superficiais
* **Relevante** (3) --> tweets que traziam alguma carga de cr√≠tica ao aparelho (seja boa ou ruim)
* **Muito relevante** (4) --> tweets com altas cargas criticas construtivas, que especificam algum parte ou recurso do aparelho

In [5]:
# Fun√ß√£o cleanup que realiza a filtragem de caracteres desnecess√°rios, 
# assim como men√ß√£o √† contas e refer√™ncias a sites

def cleanup(text):
    punctuation = '[!-.:?;]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    
    text_subbed_list = text_subbed.split()
    
    for word in text_subbed_list:
        if word[0] == '@' or word[:5] == 'https':
            text_subbed_list.remove(word)
        else:
            pass
    return ' '.join(text_subbed_list)

In [12]:
# Loop para realizar a limpeza do treinamento
for i in range(len(train)):
    train.at[i,'Treinamento'] = cleanup(train.Treinamento[i]).lower() 
                                                                      
train.head()

                                         Treinamento  Classifica√ß√£o
0  my prediction is the same but a13 bionic face ...              2
1  still have mine but i never connected to my ph...              1
2  iphone 11 na waste of money just chill with x ...              2
3  once the iphone 12 drops those using the iphon...              2
4               ncat who fix‚Äôs phone it‚Äôs a iphone x              1

In [13]:
# Loop para realizar a limpeza do teste
for i in range(len(test)):
    test.at[i,'Teste'] = cleanup(test.Teste[i]).lower() 
                                                                      
test.head()

                                               Teste  Classifica√ß√£o
0  right that‚Äôs exactly what happened when i got ...              3
1                  some of us havent bought iphone x              2
2  hs without condm and what did you expected to ...              1
3  very annoying that they didnt announce the new...              2
4              iphone x was released in november tho              2

In [14]:
# Calculando o total de palavras no conjunto dos tweets da base de treinamento
total_palavras = 0 
for phrase in train.Treinamento:
    total_palavras += len(phrase.split())

total_palavras

28833

___
### Montagens das s√©ries e tabelas relativas para cada classifica√ß√£o

Filtragem do dataframe para cada classfica√ß√£o, para assim montar as tabelas com as probabilidades de cada palavra dada uma classifica√ß√£o

Criando um dicion√°rio contendo todas as palavras dos tweets divididas em cada categoria (0,1,2,3 ou 4)

In [15]:
dict_lista_palavras = {}

for index_class in range(5):
    palavras_class = train.loc[train.Classifica√ß√£o == index_class,:]
    lista = []
    for phrase in palavras_class.Treinamento:
        lista += phrase.split()
    dict_lista_palavras[index_class] = lista

dt_palavras = pd.DataFrame.from_dict({ key:pd.Series(value) for key, value in dict_lista_palavras.items() })
dt_palavras

            0       1           2        3     4
0      bypass   still          my      you     i
1        with    have  prediction    think  left
2     iphones    mine          is      lol     x
3     network     but         the      its  when
4     blocked       i        same  already     i
...       ...     ...         ...      ...   ...
8377      NaN  number         NaN      NaN   NaN
8378      NaN      61         NaN      NaN   NaN
8379      NaN  iphone         NaN      NaN   NaN
8380      NaN       x         NaN      NaN   NaN
8381      NaN   black         NaN      NaN   NaN

[8382 rows x 5 columns]

In [16]:
# Calculando a quantidade de cada palavra dada a classifica√ß√£o
dict_quants_absolutas = {}
for i in range(5):
    dict_quants_absolutas[i] = dt_palavras[i].value_counts()

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [17]:
# Calculando a probabilddiade de uma palavra pertencer √† respectiva classifica√ß√£o

dict_probabilidades = {}
for i in range(5):
    dict_probabilidades[i] = len(train.loc[train['Classifica√ß√£o']== i,:]) / len(train)

dict_probabilidades

{0: 0.2224, 1: 0.3568, 2: 0.1968, 3: 0.1592, 4: 0.0648}

In [22]:
# Smoothing
smoothing = {
    'V': 10**4,
    'alpha': 0.1}

def prob_frase_dado_class(frase, classe):
    prob = 1
    quant_absoluta = dict_quants_absolutas[classe]
    
    for palavra in frase.split():
        if palavra in dt_palavras.loc[classe].to_list():
            print(quant_absoluta[palavra])
            prob *= (quant_absoluta[palavra] + smoothing['alpha']) / (quant_absoluta.sum() + smoothing['alpha']*smoothing['V']) 
        else:
            prob *= smoothing['alpha'] / (quant_absoluta.sum() + smoothing['alpha']*smoothing['V'])
    return prob

In [23]:
def naive_bayes(tweet):
    for palavra in tweet.split()
    dict_p_X_dado_frase = {}
    for i in range(5):
        dict_p_X_dado_frase[i] = math.log(prob_frase_dado_class(tweet, i) * dict_probabilidades[i])
    
    # As probabilidade s√£o guardadas em uma lista, para assim, retornar o maior valor dela
    
    #J√° que a lista est√° ordenada de acordo com as categorias, o index da maior probabilidade ser√° a pr√≥pria classifica√ß√£o
    print(dict_p_X_dado_frase)
    for classificacao, prob in dict_p_X_dado_frase.items():
        if prob == max(dict_p_X_dado_frase.values()):
            return classificacao

In [27]:
test.Teste[0]

'right that‚Äôs exactly what happened when i got my current iphone 8 couldn‚Äôt wait a day longer cause my phone prior literally died and the next week the iphone x was announced ü•¥'

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [24]:
test.loc[:,'NBayes'] = 0
for i in range(1): #len(test)
    test.iloc[i,2] = naive_bayes(test.Teste[i])
test

16
8
8
228
16
253
253
72
{0: -362.33586027947234, 1: -378.8519798303971, 2: -356.1889981846053, 3: -347.71039301616594, 4: -340.1989542098665}

                                                 Teste  Classifica√ß√£o  NBayes
0    right that‚Äôs exactly what happened when i got ...              3       4
1                    some of us havent bought iphone x              2       0
2    hs without condm and what did you expected to ...              1       0
3    very annoying that they didnt announce the new...              2       0
4                iphone x was released in november tho              2       0
..                                                 ...            ...     ...
720         mojosmartphone qi leather wireless charger              0       0
721                         shop anythingyoucanimagine              0       0
722  glowing apple logo backlit led case for iphone...              0       0
723               shit crazy had this iphone x forever              2       0
724  here is a even better version no iphone x line...              2       0

[725 rows x 3 columns]

In [ ]:
tabela_acuracia_teste = pd.crosstab(test.Classifica√ß√£o, test.NBayes, normalize = True)
tabela_acuracia_teste

In [ ]:
taxa_acuracia_teste = tabela_acuracia_teste.iloc[0,0] + tabela_acuracia_teste.iloc[1,1] + tabela_acuracia_teste.iloc[2,2] + tabela_acuracia_teste.iloc[3,3] 
print('A taxa de acur√°cia do classificador no teste √© de {}%'.format(taxa_acuracia_teste.round(4)*100))

In [ ]:
train.loc[:,'NBayes'] = 0
for i in range(len(train)):
    train.iloc[i,2] = naive_bayes(train.Treinamento[i])

In [ ]:
tabela_acuracia_treino = pd.crosstab(train.Classifica√ß√£o, train.NBayes, normalize = True)
tabela_acuracia_treino

In [ ]:
taxa_acuracia_treino = tabela_acuracia_treino.iloc[0,0] + tabela_acuracia_treino.iloc[1,1] + tabela_acuracia_treino.iloc[2,2] + tabela_acuracia_treino.iloc[3,3] 
print('A taxa de acur√°cia do classificador no teste √© de {}%'.format(taxa_acuracia_treino.round(4)*100))

___
## Concluindo:

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que realiza an√°lise de sentimento e visualiza estes dados

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**

In [ ]:
dict_lista_palavras = {}

for index_class in range(5):
    palavras_class = train.loc[train.Classifica√ß√£o == index_class,:]
    lista = []
    for phrase in palavras_class.Treinamento:
        lista += phrase.split()
    dict_lista_palavras[index_class] = lista

dt_palavras = pd.DataFrame.from_dict({ key:pd.Series(value) for key, value in dict_lista_palavras.items() })
dt_palavras.head()