# Projeto 1 - Ci√™ncia dos Dados

Nome: Paulo Kim

Nome: Rodrigo Coelho

**Aten√ß√£o:** Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [31]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

**Em `filename`, coloque o nome do seu arquivo de dados!**

In [2]:
import os

filename = 'iPhone_X.xlsx'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com a prova!')
else:
    print(f'N√£o encontrei o arquivo {filename} aqui no diret√≥rio {os.getcwd()}, ser√° que voc√™ n√£o baixou o arquivo?')

Encontrei o arquivo iPhone_X.xlsx, tudo certo para prosseguir com a prova!

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [3]:
train = pd.read_excel(filename)
train = train.iloc[:,:2]
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  @iconredesign my prediction is the same but:\n...              2
1  still have mine but i never connected to my ph...              1
2  iphone 11 na waste of money, just chill with x...              2
3  once the iphone 12 drops those using the iphon...              2
4           #ncat who fix‚Äôs phone ?? it‚Äôs a iphone x              1

In [4]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test = test.iloc[:,:2]
test.head(5)

                                               Teste  Classifica√ß√£o
0  @starrynight024 right?? that‚Äôs exactly what ha...              3
1  @gossipgirliee some of us haven't bought iphone x              2
2  @manyaww @mlgcollegefess hs without cond*m and...              1
3  very annoying that they didn't announce the ne...              2
4   @clarkvolo iphone x was released in november tho              2

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

N√≥s pegamos como produto o iPhone X. Para sua classifica√ß√£o, dividimos os tweets em:

* Propaganda/oferta (0)
* Muito irrelevante (1)
* Irrelevante (2)
* Relevante (3)
* Muito relevante (4)

In [5]:
# Fun√ß√£o cleanup que realiza a filtragem de caracteres desnecess√°rios
def cleanup(text):
    punctuation = '[!-.:?;]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    
    text_subbed_list = text_subbed.split()
    
    for word in text_subbed_list:
        if word[0] == '@' or word[:5] == 'https':
            text_subbed_list.remove(word)
        else:
            pass
    return ' '.join(text_subbed_list)

In [6]:
train.head()

                                         Treinamento  Classifica√ß√£o
0  @iconredesign my prediction is the same but:\n...              2
1  still have mine but i never connected to my ph...              1
2  iphone 11 na waste of money, just chill with x...              2
3  once the iphone 12 drops those using the iphon...              2
4           #ncat who fix‚Äôs phone ?? it‚Äôs a iphone x              1

In [7]:
# Loop para realizar a limpeza
for i in range(len(train)):
    train.at[i,'Treinamento'] = cleanup(train.Treinamento[i]).lower() 
                                                                      
train.head(10)

                                         Treinamento  Classifica√ß√£o
0  my prediction is the same but a13 bionic face ...              2
1  still have mine but i never connected to my ph...              1
2  iphone 11 na waste of money just chill with x ...              2
3  once the iphone 12 drops those using the iphon...              2
4               ncat who fix‚Äôs phone it‚Äôs a iphone x              1
5  [help] [iphone x] [ios 137] [checkra1n] when s...              1
6  rip iphone xyou were a great phone until i acc...              1
7        how do i reconnect to bluetooth on iphone x              1
8  my phone is xiaomi mi mix 2 also my phone is i...              1
9  bypass with iphones network blocked on activat...              0

In [8]:
# Calculando o total de palavras no conjunto dos tweets 
total_palavras = 0 
for phrase in train.Treinamento:
    total_palavras += len(phrase.split())

___
### Montagens das s√©ries e tabelas relativas para cada classifica√ß√£o

Filtragem do dataframe para cada classfica√ß√£o, para assim montar as tabelas com as probabilidades de cada palavra dada uma classifica√ß√£o

(TOKKI) Aqui n√£o gostei muito do jeito que eu fiz, queria ter feito algo mais "limpo", pode mudar se tiver uma ideia melhor

In [9]:
# Transformando a lista de palavras da classfica√ß√£o Propaganda/Oferta (0) em uma s√©rie
lista_palavras_class_0 = []
palavras_class_0 = train.loc[train.Classifica√ß√£o == 0,:]

for phrase in palavras_class_0.Treinamento:
    lista_palavras_class_0 += phrase.split()
    
series_palavras_class_0 = pd.Series(lista_palavras_class_0)
series_palavras_class_0

0                      bypass
1                        with
2                     iphones
3                     network
4                     blocked
                ...
7622                 tempered
7623                    glass
7624                     film
7625                    2pack
7626    https//tco/9pclfcslnu
Length: 7627, dtype: object

In [10]:
# Transformando a lista de palavras da classfica√ß√£o Muito Irrelevante (1) em uma s√©rie
lista_palavras_class_1 = []
palavras_class_1 = train.loc[train.Classifica√ß√£o == 1,:]

for phrase in palavras_class_1.Treinamento:
    lista_palavras_class_1 += phrase.split()
    
series_palavras_class_1 = pd.Series(lista_palavras_class_1)

In [11]:
# Transformando a lista de palavras da classfica√ß√£o Irrelevante (2) em uma s√©rie
lista_palavras_class_2 = []
palavras_class_2 = train.loc[train.Classifica√ß√£o == 2,:]

for phrase in palavras_class_2.Treinamento:
    lista_palavras_class_2 += phrase.split()
    
series_palavras_class_2 = pd.Series(lista_palavras_class_2)

In [12]:
# Transformando a lista de palavras da classfica√ß√£o Relevante (3) em uma s√©rie
lista_palavras_class_3 = []
palavras_class_3 = train.loc[train.Classifica√ß√£o == 3,:]

for phrase in palavras_class_3.Treinamento:
    lista_palavras_class_3 += phrase.split()
    
series_palavras_class_3 = pd.Series(lista_palavras_class_3)

In [13]:
# Transformando a lista de palavras da classfica√ß√£o Muito Relevante (4) em uma s√©rie
lista_palavras_class_4 = []
palavras_class_4 = train.loc[train.Classifica√ß√£o == 4,:]

for phrase in palavras_class_4.Treinamento:
    lista_palavras_class_4 += phrase.split()
    
series_palavras_class_4 = pd.Series(lista_palavras_class_4)

In [14]:
dict_lista_palavras = {}

for index_class in range(5):
    palavras_class = train.loc[train.Classifica√ß√£o == index_class,:]
    lista = []
    for phrase in palavras_class.Treinamento:
        lista += phrase.split()
    dict_lista_palavras[index_class] = lista

dt_palavras = pd.DataFrame.from_dict({ key:pd.Series(value) for key, value in dict_lista_palavras.items() })
dt_palavras

            0       1           2                 3              4
0      bypass   still          my  @apple_idesigner  @iamnotalbert
1        with    have  prediction               you              i
2     iphones    mine          is             think           left
3     network     but         the               lol              x
4     blocked       i        same               its           when
...       ...     ...         ...               ...            ...
8493      NaN  number         NaN               NaN            NaN
8494      NaN      61         NaN               NaN            NaN
8495      NaN  iphone         NaN               NaN            NaN
8496      NaN       x         NaN               NaN            NaN
8497      NaN   black         NaN               NaN            NaN

[8498 rows x 5 columns]

In [15]:
dt_palavras.iloc[:,0].value_counts()

iphone       457
x            229
for          207
11           113
8            107
            ...
camshield      1
jcase          1
215k           1
imessageüíØ      1
een            1
Name: 0, Length: 2066, dtype: int64

In [16]:
# Calculando a quantidade de cada palavra dada a classifica√ß√£o
tabela_palavra_class_0 = series_palavras_class_0.value_counts()
tabela_palavra_class_1 = series_palavras_class_1.value_counts()
tabela_palavra_class_2 = series_palavras_class_2.value_counts()
tabela_palavra_class_3 = series_palavras_class_3.value_counts()
tabela_palavra_class_4 = series_palavras_class_4.value_counts()

In [17]:
print(tabela_palavra_class_0)

iphone       457
x            229
for          207
11           113
8            107
            ...
camshield      1
jcase          1
215k           1
imessageüíØ      1
een            1
Length: 2066, dtype: int64

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [18]:
# Calculando a probabilddiade de uma palavra pertencer √† respectiva classifica√ß√£o   
P_0 = len(lista_palavras_class_0) / total_palavras
P_1 = len(lista_palavras_class_1) / total_palavras
P_2 = len(lista_palavras_class_2) / total_palavras
P_3 = len(lista_palavras_class_3) / total_palavras
P_4 = len(lista_palavras_class_4) / total_palavras

In [81]:
# Smoothing
smoothing = {
    
    'V': 10**4,
    'alpha': 0.5
}

# Fun√ß√µes respos√°veis em calcular as probabilidades com a aplica√ß√£o do smoothing

def prob_frase_dado_class_0(frase):
    prob = 1
    for palavra in frase.split():
        try: # Verifica se a palavra est√° contida na s√©rie da respectiva categoria. 
            prob *= (tabela_palavra_class_0[palavra] + smoothing['alpha']) / (len(lista_palavras_class_0) + smoothing['alpha']*smoothing['V']) 
        except: # Caso a palavra n√£o exista, a t√©cnica de smoothing impede que a probabilidade resulte em zero
            prob *= smoothing['alpha'] / (len(lista_palavras_class_0) + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

def prob_frase_dado_class_1(frase):
    prob = 1
    for palavra in frase.split():
        try:
            prob *= (tabela_palavra_class_1[palavra] + smoothing['alpha']) / (len(lista_palavras_class_1) + smoothing['alpha']*smoothing['V'])
        except:
            prob *= smoothing['alpha'] / (len(lista_palavras_class_1) + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

def prob_frase_dado_class_2(frase):
    prob = 1
    for palavra in frase.split():
        try:
            prob *= (tabela_palavra_class_2[palavra] + smoothing['alpha']) / (len(lista_palavras_class_2) + smoothing['alpha']*smoothing['V'])
        except:
            prob *= smoothing['alpha'] / (len(lista_palavras_class_2) + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

def prob_frase_dado_class_3(frase):
    prob = 1
    for palavra in frase.split():
        try:
            prob *= (tabela_palavra_class_3[palavra] + smoothing['alpha']) / (len(lista_palavras_class_3) + smoothing['alpha']*smoothing['V'])
        except:
            prob *= smoothing['alpha'] / (len(lista_palavras_class_3) + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

def prob_frase_dado_class_4(frase):
    prob = 1
    for palavra in frase.split():
        try:
            prob *= (tabela_palavra_class_4[palavra] + smoothing['alpha']) / (len(lista_palavras_class_4) + smoothing['alpha']*smoothing['V'])
        except:
            prob *= smoothing['alpha'] / (len(lista_palavras_class_4) + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

In [82]:
def naive_bayes(tweet):
    p_0_dado_frase = prob_frase_dado_class_0(tweet) * P_0
    p_1_dado_frase = prob_frase_dado_class_1(tweet) * P_1
    p_2_dado_frase = prob_frase_dado_class_2(tweet) * P_2
    p_3_dado_frase = prob_frase_dado_class_3(tweet) * P_3
    p_4_dado_frase = prob_frase_dado_class_4(tweet) * P_4
    
    # As probabilidade s√£o guardadas em uma lista, para assim, retornar o maior valor dela
    lista_de_probabilidades = [p_0_dado_frase,
                               p_1_dado_frase,
                               p_2_dado_frase,
                               p_3_dado_frase,
                               p_4_dado_frase]
    
    #J√° que a lista est√° ordenada de acordo com as categorias, o index da maior probabilidade ser√° a pr√≥pria classifica√ß√£o
    return lista_de_probabilidades.index(max(lista_de_probabilidades))

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [83]:
for i in range(len(test)):
    test.at[i,'Teste'] = cleanup(test.Teste[i]).lower() 
                                                                      
test.head(10)

,Teste,Classifica√ß√£o,NBayes,diff
0,right that‚Äôs exactly what happened when i got ...,3,2,1
1,some of us havent bought iphone x,2,1,1
2,hs without condm and what did you expected to ...,1,1,0
3,very annoying that they didnt announce the new...,2,3,1
4,iphone x was released in november tho,2,2,0
5,what phone do you use ‚Äî iphone x max,1,1,0
6,so when ill trade in my iphone x for a new one...,2,4,2
7,apple iphone x 64gb space grey renewed amazon ...,0,0,0
8,hi i am having problems logging in to pay invo...,3,3,0
9,the xbox one x was discontinued though so that...,2,3,1

In [84]:
test.loc[:,'NBayes'] = 0
for i in range(len(test)):
    test.iloc[i,2] = naive_bayes(test.Teste[i])

In [85]:
test['diff'] = abs(test['Classifica√ß√£o'] - test['NBayes'])
test['diff'].sum() / len(test)

0.7820689655172414

In [86]:
vaciloes = test.loc[test['diff'] > 1,:]
vaciloes

,Teste,Classifica√ß√£o,NBayes,diff
13,he has a new phone and i still stick with ipho...,3,1,2
16,iphone 3g 3gs 4 4s 5 5c 5s 6 6 6s 6s se 7 7 8 ...,2,0,2
22,what does pain me is the iphone x i bought in ...,3,1,2
31,yo what‚Äôs the word on this iphone 12 my front ...,3,1,2
36,ios 14 stable will start rolling out on wednes...,2,0,2
...,...,...,...,...
648,list of officially terminated iphone sales and...,2,0,2
664,anyway to get the original ayeris wallpapers u...,1,3,2
677,candy color iphone lens protective case,2,0,2
693,thank you everyone i really appreciate the fee...,1,3,2
700,callber x iphone 11 pro max 135,2,0,2

In [87]:
test.Teste[0]

'right that‚Äôs exactly what happened when i got my current iphone 8 couldn‚Äôt wait a day longer cause my phone prior literally died and the next week the iphone x was announced ü•¥'

In [56]:
cleanup(test.Teste[0])

'right that‚Äôs exactly what happened when i got my current iphone 8 couldn‚Äôt wait a day longer cause my phone prior literally died and the next week the iphone x was announced ü•¥'

In [25]:
naive_bayes(cleanup(test.Teste[0]))

4

___
## Concluindo:

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que realiza an√°lise de sentimento e visualiza estes dados

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**