# Projeto 1 - Ci√™ncia dos Dados

Nome: Paulo Kim

Nome: Rodrigo Coelho

**Aten√ß√£o:** Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re
import math

**Em `filename`, coloque o nome do seu arquivo de dados!**

In [2]:
import os

filename = 'iPhone_X.xlsx'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com a prova!')
else:
    print(f'N√£o encontrei o arquivo {filename} aqui no diret√≥rio {os.getcwd()}, ser√° que voc√™ n√£o baixou o arquivo?')

Encontrei o arquivo iPhone_X.xlsx, tudo certo para prosseguir com a prova!

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [3]:
train = pd.read_excel(filename)
train = train.iloc[:,:2]
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  @iconredesign my prediction is the same but:\n...              2
1  still have mine but i never connected to my ph...              1
2  iphone 11 na waste of money, just chill with x...              2
3  once the iphone 12 drops those using the iphon...              2
4           #ncat who fix‚Äôs phone ?? it‚Äôs a iphone x              1

In [93]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test = test.iloc[:,:2]
print(test['Teste'][0])

@starrynight024 right?? that‚Äôs exactly what happened when i got my current iphone 8+. couldn‚Äôt wait a day longer cause my phone prior literally died and the next week the iphone x was announced ü•¥

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

N√≥s pegamos como produto o iPhone X. Para sua classifica√ß√£o, dividimos os tweets em:

* **Propaganda/oferta** (0) --> tweets com an√∫ncios de valor e venda de iPhones, assim como vendas de peliculas e capas espec√≠ficas para o iPhone X
* **Muito irrelevante** (1) --> tweets que mencionavam o iPhone X, mas que nada relacionado ao aparelho em si, apenas citando ele
* **Irrelevante** (2) --> tweets que al√©m de mencionar o iPhone, faziam coment√°rios relacionados ao aparelho, mas muito superficiais
* **Relevante** (3) --> tweets que traziam alguma carga de cr√≠tica ao aparelho (seja boa ou ruim)
* **Muito relevante** (4) --> tweets com altas cargas criticas construtivas, que especificam algum parte ou recurso do aparelho

In [5]:
# Fun√ß√£o cleanup que realiza a filtragem de caracteres desnecess√°rios
def cleanup(text):
    punctuation = '[!-.:?;]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    
    text_subbed_list = text_subbed.split()
    
    for word in text_subbed_list:
        if word[0] == '@' or word[:5] == 'https':
            text_subbed_list.remove(word)
        else:
            pass
    return ' '.join(text_subbed_list)

In [6]:
train.head()

                                         Treinamento  Classifica√ß√£o
0  @iconredesign my prediction is the same but:\n...              2
1  still have mine but i never connected to my ph...              1
2  iphone 11 na waste of money, just chill with x...              2
3  once the iphone 12 drops those using the iphon...              2
4           #ncat who fix‚Äôs phone ?? it‚Äôs a iphone x              1

In [7]:
# Loop para realizar a limpeza
for i in range(len(train)):
    train.at[i,'Treinamento'] = cleanup(train.Treinamento[i]).lower() 
                                                                      
train

                                            Treinamento  Classifica√ß√£o
0     my prediction is the same but a13 bionic face ...              2
1     still have mine but i never connected to my ph...              1
2     iphone 11 na waste of money just chill with x ...              2
3     once the iphone 12 drops those using the iphon...              2
4                  ncat who fix‚Äôs phone it‚Äôs a iphone x              1
...                                                 ...            ...
1245  and now the iphone 12p just seems like a borin...              3
1246  hi there my app isnt loading any data iphone x...              4
1247  word me too i have rocking this iphone x for a...              3
1248  jetech screen protector for iphone 11 pro ipho...              0
1249                                           iphone x              2

[1250 rows x 2 columns]

In [8]:
# Calculando o total de palavras no conjunto dos tweets 
total_palavras = 0 
for phrase in train.Treinamento:
    total_palavras += len(phrase.split())

___
### Montagens das s√©ries e tabelas relativas para cada classifica√ß√£o

Filtragem do dataframe para cada classfica√ß√£o, para assim montar as tabelas com as probabilidades de cada palavra dada uma classifica√ß√£o

In [9]:
# Transformando a lista de palavras da classfica√ß√£o Propaganda/Oferta (0) em uma s√©rie
lista_palavras_class_0 = []
palavras_class_0 = train.loc[train.Classifica√ß√£o == 0,:]

for phrase in palavras_class_0.Treinamento:
    lista_palavras_class_0 += phrase.split()
    
series_palavras_class_0 = pd.Series(lista_palavras_class_0)

In [10]:
# Transformando a lista de palavras da classfica√ß√£o Muito Irrelevante (1) em uma s√©rie
lista_palavras_class_1 = []
palavras_class_1 = train.loc[train.Classifica√ß√£o == 1,:]

for phrase in palavras_class_1.Treinamento:
    lista_palavras_class_1 += phrase.split()
    
series_palavras_class_1 = pd.Series(lista_palavras_class_1)

In [11]:
# Transformando a lista de palavras da classfica√ß√£o Irrelevante (2) em uma s√©rie
lista_palavras_class_2 = []
palavras_class_2 = train.loc[train.Classifica√ß√£o == 2,:]

for phrase in palavras_class_2.Treinamento:
    lista_palavras_class_2 += phrase.split()
    
series_palavras_class_2 = pd.Series(lista_palavras_class_2)

In [12]:
# Transformando a lista de palavras da classfica√ß√£o Relevante (3) em uma s√©rie
lista_palavras_class_3 = []
palavras_class_3 = train.loc[train.Classifica√ß√£o == 3,:]

for phrase in palavras_class_3.Treinamento:
    lista_palavras_class_3 += phrase.split()
    
series_palavras_class_3 = pd.Series(lista_palavras_class_3)

In [13]:
# Transformando a lista de palavras da classfica√ß√£o Muito Relevante (4) em uma s√©rie
lista_palavras_class_4 = []
palavras_class_4 = train.loc[train.Classifica√ß√£o == 4,:]

for phrase in palavras_class_4.Treinamento:
    lista_palavras_class_4 += phrase.split()
    
series_palavras_class_4 = pd.Series(lista_palavras_class_4)

In [14]:
# Calculando a quantidade de cada palavra dada a classifica√ß√£o
qntd_absoluta_palavra_class_0 = series_palavras_class_0.value_counts()
qntd_absoluta_palavra_class_1 = series_palavras_class_1.value_counts()
qntd_absoluta_palavra_class_2 = series_palavras_class_2.value_counts()
qntd_absoluta_palavra_class_3 = series_palavras_class_3.value_counts()
qntd_absoluta_palavra_class_4 = series_palavras_class_4.value_counts()

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [15]:
# Calculando a probabilddiade de uma palavra pertencer √† respectiva classifica√ß√£o
P_0 = len(train.loc[train['Classifica√ß√£o']== 0,:]) / len(train)
P_1 = len(train.loc[train['Classifica√ß√£o']== 1,:]) / len(train)
P_2 = len(train.loc[train['Classifica√ß√£o']== 2,:]) / len(train)
P_3 = len(train.loc[train['Classifica√ß√£o']== 3,:]) / len(train)
P_4 = len(train.loc[train['Classifica√ß√£o']== 4,:]) / len(train)

In [81]:
# Smoothing
smoothing = {
    'V': 10**4,
    'alpha': 0.1
}

# Fun√ß√µes respos√°veis em calcular as probabilidades com a aplica√ß√£o do smoothing

def prob_frase_dado_class_0(frase):
    prob = 1
    for palavra in frase.split():
        try: # Verifica se a palavra est√° contida na s√©rie da respectiva categoria. 
            prob *= (qntd_absoluta_palavra_class_0[palavra] + smoothing['alpha']) / (qntd_absoluta_palavra_class_0.sum() + smoothing['alpha']*smoothing['V']) 
        except: # Caso a palavra n√£o exista, a t√©cnica de smoothing impede que a probabilidade resulte em zero
            prob *= smoothing['alpha'] / (qntd_absoluta_palavra_class_0.sum() + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

def prob_frase_dado_class_1(frase):
    prob = 1
    for palavra in frase.split():
        try:
            prob *= (qntd_absoluta_palavra_class_1[palavra] + smoothing['alpha']) / (qntd_absoluta_palavra_class_1.sum() + smoothing['alpha']*smoothing['V'])
        except:
            prob *= smoothing['alpha'] / (qntd_absoluta_palavra_class_1.sum() + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

def prob_frase_dado_class_2(frase):
    prob = 1
    for palavra in frase.split():
        try:
            prob *= (qntd_absoluta_palavra_class_2[palavra] + smoothing['alpha']) / (qntd_absoluta_palavra_class_2.sum() + smoothing['alpha']*smoothing['V'])
        except:
            prob *= smoothing['alpha'] / (len(qntd_absoluta_palavra_class_2) + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

def prob_frase_dado_class_3(frase):
    prob = 1
    for palavra in frase.split():
        try:
            prob *= (qntd_absoluta_palavra_class_3[palavra] + smoothing['alpha']) / (qntd_absoluta_palavra_class_3.sum() + smoothing['alpha']*smoothing['V'])
        except:
            prob *= smoothing['alpha'] / (qntd_absoluta_palavra_class_3.sum() + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

def prob_frase_dado_class_4(frase):
    prob = 1
    for palavra in frase.split():
        try:
            prob *= (qntd_absoluta_palavra_class_4[palavra] + smoothing['alpha']) / (qntd_absoluta_palavra_class_4.sum() + smoothing['alpha']*smoothing['V'])
        except:
            prob *= smoothing['alpha'] / (qntd_absoluta_palavra_class_4.sum() + smoothing['alpha']*smoothing['V'])
                                                                              
    return prob

In [82]:
def naive_bayes(tweet):
    p_0_dado_frase = math.log(prob_frase_dado_class_0(tweet) * P_0)
    p_1_dado_frase = math.log(prob_frase_dado_class_1(tweet) * P_1)
    p_2_dado_frase = math.log(prob_frase_dado_class_2(tweet) * P_2)
    p_3_dado_frase = math.log(prob_frase_dado_class_3(tweet) * P_3)
    p_4_dado_frase = math.log(prob_frase_dado_class_4(tweet) * P_4)
    
    # As probabilidade s√£o guardadas em uma lista, para assim, retornar o maior valor dela
    lista_de_probabilidades = [p_0_dado_frase,
                               p_1_dado_frase,
                               p_2_dado_frase,
                               p_3_dado_frase,
                               p_4_dado_frase]
    
    #J√° que a lista est√° ordenada de acordo com as categorias, o index da maior probabilidade ser√° a pr√≥pria classifica√ß√£o
    return lista_de_probabilidades.index(max(lista_de_probabilidades))

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [83]:
for i in range(len(test)):
    test.at[i,'Teste'] = cleanup(test.Teste[i]).lower() 
                                                                      
test.head(10)

                                               Teste  Classifica√ß√£o  NBayes
0  right that‚Äôs exactly what happened when i got ...              3       2
1                  some of us havent bought iphone x              2       1
2  hs without condm and what did you expected to ...              1       1
3  very annoying that they didnt announce the new...              2       3
4              iphone x was released in november tho              2       1
5               what phone do you use ‚Äî iphone x max              1       1
6  so when ill trade in my iphone x for a new one...              2       1
7  apple iphone x 64gb space grey renewed amazon ...              0       0
8  hi i am having problems logging in to pay invo...              3       3
9  the xbox one x was discontinued though so that...              2       1

In [84]:
test.loc[:,'NBayes'] = 0
for i in range(len(test)):
    test.iloc[i,2] = naive_bayes(test.Teste[i])
test

                                                 Teste  Classifica√ß√£o  NBayes
0    right that‚Äôs exactly what happened when i got ...              3       2
1                    some of us havent bought iphone x              2       1
2    hs without condm and what did you expected to ...              1       2
3    very annoying that they didnt announce the new...              2       3
4                iphone x was released in november tho              2       1
..                                                 ...            ...     ...
720         mojosmartphone qi leather wireless charger              0       0
721                         shop anythingyoucanimagine              0       0
722  glowing apple logo backlit led case for iphone...              0       0
723               shit crazy had this iphone x forever              2       3
724  here is a even better version no iphone x line...              2       3

[725 rows x 3 columns]

In [85]:
tabela_acuracia_teste = pd.crosstab(test.Classifica√ß√£o, test.NBayes, normalize = True)
tabela_acuracia_teste

NBayes                0         1         2         3         4
Classifica√ß√£o
0              0.180690  0.012414  0.023448  0.002759  0.000000
1              0.008276  0.023448  0.064828  0.001379  0.000000
2              0.026207  0.155862  0.226207  0.056552  0.009655
3              0.000000  0.026207  0.089655  0.041379  0.002759
4              0.000000  0.002759  0.026207  0.013793  0.005517

In [86]:
taxa_acuracia_teste = tabela_acuracia_teste.iloc[0,0] + tabela_acuracia_teste.iloc[1,1] + tabela_acuracia_teste.iloc[2,2] + tabela_acuracia_teste.iloc[3,3] 
print('A taxa de acur√°cia do classificador no teste √© de {}%'.format(taxa_acuracia_teste.round(4)*100))

A taxa de acur√°cia do classificador no teste √© de 47.17%

In [87]:
train.loc[:,'NBayes'] = 0
for i in range(len(train)):
    train.iloc[i,2] = naive_bayes(train.Treinamento[i])

In [88]:
tabela_acuracia_treino = pd.crosstab(train.Classifica√ß√£o, train.NBayes, normalize = True)
tabela_acuracia_treino

NBayes              0       1       2       3       4
Classifica√ß√£o
0              0.2152  0.0032  0.0032  0.0008  0.0000
1              0.0056  0.3384  0.0080  0.0040  0.0008
2              0.0016  0.0160  0.1792  0.0000  0.0000
3              0.0008  0.0032  0.0048  0.1504  0.0000
4              0.0000  0.0008  0.0008  0.0032  0.0600

In [89]:
taxa_acuracia_treino = tabela_acuracia_treino.iloc[0,0] + tabela_acuracia_treino.iloc[1,1] + tabela_acuracia_treino.iloc[2,2] + tabela_acuracia_treino.iloc[3,3] 
print('A taxa de acur√°cia do classificador no teste √© de {}%'.format(taxa_acuracia_treino.round(4)*100))

A taxa de acur√°cia do classificador no teste √© de 88.32%

___
## Concluindo:

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que realiza an√°lise de sentimento e visualiza estes dados

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**

In [25]:
# dict_lista_palavras = {}

# for index_class in range(5):
#     palavras_class = train.loc[train.Classifica√ß√£o == index_class,:]
#     lista = []
#     for phrase in palavras_class.Treinamento:
#         lista += phrase.split()
#     dict_lista_palavras[index_class] = lista

# dt_palavras = pd.DataFrame.from_dict({ key:pd.Series(value) for key, value in dict_lista_palavras.items() })
# dt_palavras