# Projeto 1 - Ci√™ncia dos Dados

Nome: Paulo Kim

Nome: Rodrigo Coelho

**Aten√ß√£o:** Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

**Em `filename`, coloque o nome do seu arquivo de dados!**

In [2]:
import os

filename = 'iPhone_X.xlsx'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com a prova!')
else:
    print(f'N√£o encontrei o arquivo {filename} aqui no diret√≥rio {os.getcwd()}, ser√° que voc√™ n√£o baixou o arquivo?')

Encontrei o arquivo iPhone_X.xlsx, tudo certo para prosseguir com a prova!

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [3]:
train = pd.read_excel(filename)
train = train.iloc[:,:2]
train.head(5)

                                         Treinamento  Classifica√ß√£o
0  @iconredesign my prediction is the same but:\n...              2
1  still have mine but i never connected to my ph...              1
2  iphone 11 na waste of money, just chill with x...              2
3  once the iphone 12 drops those using the iphon...              2
4           #ncat who fix‚Äôs phone ?? it‚Äôs a iphone x              1

In [4]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test = test.iloc[:,:2]
test.head(5)

                                               Teste  Classifica√ß√£o
0  @starrynight024 right?? that‚Äôs exactly what ha...              3
1  @gossipgirliee some of us haven't bought iphone x              2
2  @manyaww @mlgcollegefess hs without cond*m and...              1
3  very annoying that they didn't announce the ne...              2
4   @clarkvolo iphone x was released in november tho              2

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

N√≥s pegamos como produto o iPhone X. Para sua classifica√ß√£o, dividimos os tweets em:

* Propaganda/oferta
* Muito irrelevante
* Irrelevante
* Relevante
* Muito relevante

In [5]:
TITULO LIMPEZA

SyntaxError: invalid syntax (<ipython-input-5-9b9b25c4ced8>, line 1)

In [7]:
# Pr√© clean-up

lista_tweets = list(train.Treinamento)
lista_palavras = []
for tweet in lista_tweets:
    for palavra in tweet.split():
        if palavra[0] == '@' or palavra[:5] == 'https':
            pass
        else:
            lista_palavras.append(palavra.lower())

In [8]:
def cleanup(text):
    punctuation = '[!-.:?;]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    
    return text_subbed

lista_palavras = cleanup(' '.join(lista_palavras))
serie_tweets = pd.Series(lista_palavras.split(' '))
serie_tweets

0                my
1        prediction
2                is
3               the
4              same
            ...
29123         glass
29124          film
29125         2pack
29126        iphone
29127             x
Length: 29128, dtype: object

In [9]:
tabela_tweets = serie_tweets.value_counts(True)
tabela_tweets

iphone         0.058088
x              0.038794
the            0.029662
i              0.017852
and            0.017166
                 ...
format         0.000034
anythingthe    0.000034
üñ•Ô∏è             0.000034
such           0.000034
terminated     0.000034
Length: 4995, dtype: float64

In [ ]:
print(test)

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que realiza an√°lise de sentimento e visualiza estes dados

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**